*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kumbh Sans", serif;
}

.hero-section{
    /* max-width: 1440px; */
    /* width: 100%; */
    /* height: 732px; */
    padding: 0px 60px;
    /* height: 113vh; */
    display: flex;
    flex-direction: column;
    background: linear-gradient(to left, rgba(158, 16, 27, 1), rgba(249, 188, 7, 1));
    /* position: relative; */
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.spacer{
    /* background-color: red; */
    height: 27px;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
    /* background-color: black; */
    background: linear-gradient(to left, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.5));
    z-index: 4;
    border-radius: 300px;
    color: #FFFFFF;
    align-items: center;
    bottom: 50px;
    height: 64px;
    padding: 8px 24px;
    /* top: 27px; */
    /* position: absolute; */
    /* left: 60px;
    right: 60px; */
}

.logo{
    width: 48px;
    height: 48px;
}

.holder{
    display: flex;
    align-items: center;
    height: 43px;
    z-index: 3;
}

.holder li{
    list-style-type: none;
    width: 99px;
}

.holder a{
    text-decoration: none;
    padding: 8px 4px;
    gap: 10px;
    color: #FFFFFF;
}

.holder #contact-link{
    margin-left: 50px;
    width: 133px;
    height: 43px;
    padding: 10px 24px;
    gap: 10px;
    border-radius: 300px;
    line-height: 19.36px;
    color: #CC5602;
    background-color: #fff;
    text-align: center;
    font-size: 14px;
    border: 0px;
    cursor: pointer;
}

.hamburger{
    display: none;
}

.mobile-toggle{
    display: none;
}

.hero-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 22px;
}

#hero-card1{
    flex-basis: 55%;
    text-align: start;
    gap: 22px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}

#hero-card2{
    flex-basis: 43%;
    top: 110px;
    width: 100%;
    /* border: 1px solid green; */
}

.hero-card h1{
    font-size: 52px;
    color: #fff;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -0.24%;
}

.hero-card p{
    /* font-size: 20px; */
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: -0.24%;
    color: rgba(246, 246, 246, 1);
}

.article2{
    display: none;
}


.hero-card button{
    width: 133px;
    height: 43px;
    padding: 12px 24px;
    gap: 10px;
    border-radius: 300px;
    line-height: 19.36px;
    color: #CC5602;
    background-color: rgba(255, 255, 255, 1);
    font-size: 14px;
    border: 0px;
    margin-bottom: 10px;
    cursor: pointer;
}

.hero-card img{
    width: 100%;
    height: 100%;
    /* max-height: 564px; */
    /* max-width:540px; */
}



/*======service section=========*/

.service-section{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.star-img{
    width: 350px;
    height: 500px;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}



/*==========service wrapper=====*/

.service-wrapper{
    /* border: 2px solid rgb(98, 0, 255); */
    display: flex;
    /* justify-content: space-between; */
    margin: 0px 60px;
    /* align-items: center; */
    z-index: 3;
}

.service-card{
    /* border: 1px solid rgb(187, 14, 37); */
    z-index: 1;
}

.solar-panel{
    z-index: 1;
    width: 340px;
    height: 320px;
    margin-left: -24px;
    margin-top: 15px;
}

#service-card2{
    margin-left: 160px;
    margin-top: 40px;
}
.header-wrapper{
    display: block;
}
.header-wrapper1{
    display: none;
}

.header-wrapper h2{
    /* width: 519px; */
    font-size: 24px;
    line-height: 31.2px;
    font-weight: 500;
    color: #333333;
}

.rating-wrapper{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.rating-container{
    display: flex;
    flex-direction: column;
    /* width: 231px; */
}

.rating-card{
    position: relative;
    gap: 24px;
}

.inner-rating{
    display: flex;
    align-items: center;
    position: relative;
    bottom: 10px;
}

.inner-rating img{
    width: 36px;
    height: 36px;
    left: -19px;
    position: absolute;
}

.inner-rating b{
    font-size: 26px;
}

.rating-card p{
    font-size: 16px;
    color: #6D6D6D;
    font-weight: 600;
    padding-top: 5px;
    line-height: 28px;
}

/* .quality-section {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 120px 60px;
  /* width: 80%;
  text-align: center;
  border: 1px solid rgb(219, 7, 35);
  margin-top: 170px;
} */

.quality-section1{
    margin-top: 160px;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.quality-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    position: relative;
    gap: 30px;
}

.quality-card img {
  width: 76.19px;
  height: 76px;
  margin-bottom: -8px;
}

.quality-card p {
  font-size: 18px;
  color: #1C1C1F;
  margin: 0;
  font-weight: 400;
}

.quality-card:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  height: 160px;
  top: -16px;
  width: 1px;
  background-color: #FFCA00;
}

/* #last-quality-card{
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}*/

.offer-section{
    display: flex;
    background-color: #FFFEE7;
    justify-content: space-between;
}
.offer-card{
    flex-basis: 45%;
}

#offer-card2 img{
    width: 100%;
}

#offer-card1{
   padding-left: 60px;
   display: flex;
   flex-direction: column;
}

.offer-inner-card{
    gap: 16px;
}

.offer-inner-card h2{
    color: #0A0A0A;
    font-size: 30px;
    line-height: 59px;
    font-weight: 500;
    padding-bottom: 6px;
}

.offer-inner-card p{
    color: #6B6B6B;
    font-size: 18px;
    line-height: 28.8px;
    font-weight: 400;
}

.offer-wrapper{
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-top: 20px;
    /* border: 1px solid red; */
}

.offer-wrapper-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}

.offer-wrapper-card img{
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.offer-wrapper-inner-card{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 10px;
}

.offer-wrapper-inner-card h3{
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 5px;
}

.offer-wrapper-inner-card p{
    font-size: 16px;
    line-height: 25.6px;
    color: #6B6B6B;
}


/*==========supply section=========*/

.supply-section{
    background-color: #FFFEE7;
    padding-top: 80px;
    padding-bottom: 60px;
    padding-right: 60px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    align-items: center;
}

/*=============supply-card==*/
/* .supply-card{
    border: 1px solid black;
} */

.supply-card1{
    flex-basis: 20%;
    order: 1;
}

.black-panel2{
    display: none;
}

.supply-card2{
    flex-basis: 30%;
    padding-right: 12px;
    order: 2;
}

.supply-card3{
    flex-basis: 30%;
    gap: 18px;
    order: 3;
}

.supply-card3 h3{
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;
    color: #0A0A0A;
    margin-bottom: 12px;
}

.supply-text-one{
    margin-bottom: 20px;
}

.supply-card3 p{
    color: #6B6B6B;
    font-size: 16px;
    line-height: 25.6px;
    text-align: justify;
}
.globe-img{
    max-width: 450px;
    height: auto;
}

/*==========work-section===========*/
.work-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px 60px;
    /* border: 1px solid blue; */
}

.work-section h2{
    font-size: 38px;
    color: #000000;
    line-height: 58px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

.work-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.work-card{
    flex-basis: 32.6%;
}

.work-card img{
    width: 100%;
    object-fit: cover;
    height: auto;
}


/*===============testimonial-section========*/
.testimonial-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px 60px;
    background-color: #FFFEE7;
}

.testimonial-section h2{
    font-size: 38px;
    color: #000000;
    line-height: 58px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.testimonial-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.testimonial-card{
    flex-basis: 47%;
}

#testimonial-card1{
    padding-right: 30px;
}

.testimonial-card p{
    font-size: 20px;
    line-height: 34px;
    color: #262626;
    font-weight: 400;
    text-align: justify;
}
.testimonial-panel{
    width: 100%;
    object-fit: cover;
    height: auto;
}
.user-wrapper{
    display: flex;
    /* justify-content: start; */
    margin-top: 20px;
}

.user-wrapper img{
    margin-right: 10px;
    width: 52px;
    height: 52px;
}
.user-wrapper p{
    line-height: 28px;
    color: #6D6D6D;
    font-size: 14px;
}
.user-wrapper b{
    color: #454545;
    font-size: 16px;
}

footer{
    /* position: absolute; */
    background: linear-gradient(to left, rgba(158, 16, 27, 1), rgba(249, 188, 7, 1));
    height: 260px;

    /* padding: 20px; */
}

.footer-wrapper{
    position: relative;
    background: linear-gradient(to left, rgba(158, 16, 27, 1), rgba(249, 188, 7, 1));
}

.footer-img{
    position: absolute;
    top: 0;
    width: 260px;
    height: 260px;
    right: 0px;
}













/*******media query*******/

@media screen and (max-width: 768px) {
    .navbar{
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        width: 100%;
        height: 0;
        transition: all 0.7s ease;
        overflow: hidden;
        z-index: 1;

    }

    .holder{
        display: flex;
        flex-direction: column;
        background-color: #fff;
        position: fixed;
        width: 100%;
        top: 0;
        height: 100vh;
        z-index: 3;
        left: -100%;
        align-items: flex-start;
        transition: 0.5s;
        margin: auto;
        padding-top: 30px;
        padding-right: 30px;
        padding-left: 30px;
    }

    .holder.active{
        left: 0;
    }


    .mobile-toggle{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 30px;
    }
    .mobile-logo img{
        width: 32px;
        height: 32px;
    }

    .mobile-close-icon{
        width: 24px;
        height: 24px;
        font-weight: 600;
        font-size: 24px;
        color: #1C1B1F;
        cursor: pointer;
    }

    /* .navbar.active{
        height: 250px;
    }

    .navbar .holder{
        transition: 0.5s;
        top: 3px;
        display: flex;
        flex-direction: column;
        background: rgba(158, 16, 27, 1);
        color: #ffffff;
        align-items: start;
        height: 250px;
        width: 80%;
        left: 0px;
        margin: 0px auto;
        position: relative;
        padding: 12px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.06);
    }*/

    .holder li{
        margin-top: 16px;
        margin-bottom: 30px;
    }

    .holder li a{
       font-weight: 400;
       font-size: 16px;
       color: #454545;
    }

    .holder #contact-link{
        margin-left: 0px;
        width: 100px;
        height: 40px;
        padding: 10px 12px 0px 16px;
        margin-top: 16px;
        display: none;
    }

    .hamburger{
        display: block;
        font-size: 26px;
        cursor: pointer;
    }

    .hero-section{
        /* height: 90vh; */
        padding: 0px 40px 40px 40px;

    }

    #hero-card1{
        flex-basis: 100%;
        margin-top: 80px;
    }

    #hero-card1 h1{
        font-size: 40px;
    }

    #hero-card2{
        display: none;
    }

    /*===========service-section==========*/

    .service-wrapper{
        flex-direction: column;
        /* justify-content: space-between; */
        margin: 0px 40px;
        /* align-items: center; */
    }

    .star-img{
        width: 280px;
        height: 380px;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
    }

    .solar-panel{
        z-index: 1;
        width: 300px;
        height: 280px;
        margin-left: -28px;
        margin-top: 4px;
    }


    #service-card2{
        margin-left: 0px;
        margin-top: 120px;
    }

    .header-wrapper{
        display: none;
    }

    .header-wrapper1{
        display: block;
    }

    .header-wrapper1 h2{
        /* width: 519px; */
        font-size: 28px;
        line-height: 40.4px;
        font-weight: 500;
        color: #333333;
    }

    .rating-wrapper{
        margin-top: 50px;
        display: flex;
        justify-content: flex-start;
        gap: 20px;
    }

    #rating-card2{
        margin-left: 50px;
    }

    .inner-rating{
       left: 12px;
    }

    .inner-rating img{
        width: 30px;
        height: 30px;
        left: -15px;
        position: absolute;
    }

    .inner-rating b{
        font-size: 24px;
    }

    .quality-section1 {
        margin: 100px 40px;
        text-align: center;
        flex-direction: column;
    }

    .quality-card{
        margin-bottom: 50px;
        gap: 14px;
    }

    .quality-card:not(:last-child)::after{
        display: none;
    }


    .offer-section{
        flex-direction: column;

    }

    #offer-card1{
       padding: 10px 40px;
    }

    /*===========supply-section=========*/
    .supply-section{
        flex-direction: column;
        padding-left: 40px;
        padding-right: 40x;
        padding-top: 30px;
        padding-bottom: 30px;
        gap: 40px;
    }

    .supply-card1{
        order: 2;
    }

    .supply-card3{
        padding-right: 0px;
        order: 1;
    }

    .black-panel1{
        display: none;
    }

    .black-panel2{
        display: block;
        width: 100%;
        object-fit: cover;
    }

    .supply-card2{
        display: none;
    }

    /*=======work-section=============*/
    .work-section{
        padding: 40px;
    }
    .work-wrapper{
        margin-top: 10px;
        flex-direction: column;
    }

    .work-card{
        margin-bottom: 20px;
    }


    /*============testimonial-wrapper=======*/
    .testimonial-section{
        padding: 30px 40px;
    }
    .testimonial-wrapper{
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .testimonial-card{
        margin-bottom: 30px;
    }
}


@media screen and (max-width:425px) {
    .hero-section{
        /* height: 60vh; */
        padding: 0px 16px 80px 16px;

    }

    .navbar{
        top: 86px;
    }

    .navbar .holder{
        right: 12px;
    }

    /*=========service-section============*/
    .header-wrapper{
        display: none;
    }
    .header-wrapper1{
        display: block;
        margin-bottom: 0px;
    }
    .service-wrapper{
        margin: 0px 16px;
    }
    .star-img{
        width: 280px;
        height: 350px;
        z-index: 1;
        position: absolute;
        top: 0;
        left: -36px;
    }

    .solar-panel{
        z-index: 1;
        width: 240px;
        height: 240px;
        margin-left: -16px;
        margin-top: -18px;
        z-index: 1;
        top: -8px;
        position: relative;
    }

    #service-card2{
        margin-left: 0px;
        margin-top: 100px;
    }

    .quality-section1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 100px 16px;
    }

    .quality-card{
        margin-bottom: 50px;
        gap: 14px;
    }

    .quality-card img {
        width: 76.19px;
        height: 76px;
    }

    /**========offer-section======*/
    #offer-card1{
       padding: 10px 16px;
    }

    /*=========supply-section=========*/
    .supply-section{
        padding-left: 16px;
        padding-right: 16px;
    }

    .supply-card3 h3{
        font-weight: 500;
        font-size: 22px;
        line-height: 28.6px;
        color: #0A0A0A;
        margin-bottom: 12px;
    }

    .supply-card3 p{
        font-size: 14px;
        line-height: 22.4px;
    }

    /*=======work-section=============*/
    .work-section{
        padding: 30px 16px;
    }
    .work-section h2{
        font-size: 24px;
        line-height: 38px;
    }
    .work-wrapper{
        flex-direction: column;
        margin-top: 10px;
    }
    .work-card{
        margin-bottom: 20px;
    }

    /*============testimonial-wrapper=======*/
    .testimonial-section{
        padding: 30px 16px;
    }

    .testimonial-section h2{
        font-size: 24px;
        line-height: 38px;
        margin-bottom: 0px;
    }
    .testimonial-wrapper{
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .testimonial-card{
        margin-bottom: 30px;
    }

}
